:root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --background-color: #f4f4f4;
    --text-color: #333;
    --border-color: #ddd;
}

body {
    font-family: sans-serif;
    margin: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    color: var(--text-color);
}

h2 {
    color: #555;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    border: 1px solid var(--border-color);
    padding: 10px;
    margin-bottom: 5px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 8px 12px;
    margin-right: 5px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--secondary-color);
}

.paciente-actions {
    display: flex;
}

.paciente-actions button {
    background-color: transparent;
    color: var(--primary-color);
    padding: 0;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.paciente-actions button:hover {
    color: var(--secondary-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid var(--border-color);
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }

    table, ul {
        font-size: 0.9em;
    }
}